.layout-wrapper__inner {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  .layout-wrapper__inner-left_content {    
    background-color: white;  
    margin: 23px;
    padding: 20px;
  }
}